body{
    background: #1a1a1a;
}

.bg-black {

    background: #000;
height: 100%;
}

.card-project:hover {
    border: 1px solid #fff;
    cursor:pointer;
}
.navbar-nav {
  justify-content: center;
  width: 100%;
}
.letra {
  font-size: 1.2rem;
}