{% extends 'layout.html' %}
{% block content %}

{% load static %}
<header class="row bg-black">
    <div class="col-md-4">

        <img class="img-fluid" src="{% static 'portfolio/perfil.png' %}" alt="" style="width: 300px; height: auto;">

    </div>
    <div class="col-md-8 my-auto">
        <h1>Yo soy <strong>Miguel Ojeda</strong></h1>
        <h3>yo soy un FullStack developer</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laudantium aspernatur deleniti placeat a,
            eius dolore natus asperiores ut, esse, modi at harum explicabo sunt? In sint sed consectetur qui
            reprehenderit magnam itaque corporis voluptates quis ipsum unde ab iste provident vero veniam ipsa debitis,
            assumenda eaque? Odio, tempora! Adipisci eligendi rem quae, placeat atque hic eius odit officia modi
            praesentium assumenda iure minus. Inventore quod facere beatae. Vitae voluptates cumque obcaecati,
            perferendis qui architecto labore quasi. Sapiente saepe, at ea fugit aspernatur, quod ut labore dolorum
            consequatur harum blanditiis odit quis autem. Iusto ducimus sint asperiores dolores, et laudantium?</p>
        <a href="{% static 'portfolio/cv.pdf' %}" class="btn btn-primary btn-lg rounded-0 my-3 ">Download CV </a>
    </div>
</header>

<div class="row my-4 text-center">

    <h3>My projects</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, nobis.</p>

    {% for project in projects %}
    <div class="col-md-4 p-4 h-100">

        <div class="card bg-black card-project text-white">
            <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top">
            <div class="card-body">
                <h2>{{project.title}}</h2>
                <p>{{project.description}}</p>
                {% if project.url %}
                <a class="btn btn-light rounded-0 btn-sm" target="_blank" href="{{project.url}}">{{project.url}}</a>

                {%endif%}
            </div>
        </div>
    </div>

    {% endfor %}
    {% endblock %}
</div>